Debug/
Debug Console/
Release/
Release Console/
x64/


CellBakeryAlternative/Debug/
CellBakeryAlternative/Debug Console/
CellBakeryAlternative/Release/
CellBakeryAlternative/Release Console/
CellBakeryAlternative/x64/

CellBakeryAlternative/OpenGL/

*.ttf
*.c

.vs/